<!--h1>Gyms#index</h1>
<p>Find me in app/views/gyms/index.html.erb</p-->
<div>
   <% if @gym != nil %>
    <% @gyms.each do |gym| %>
      <%= render partial: "gym", locals: {gym: gym} %>
    <%end%>
  <%end%>
</div>