@import url('https://fonts.googleapis.com/css?family=Inconsolata&effect=fire-animation');

  body {
    font-family: 'Inconsolata', sans;
  }

  h1 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
  }

  .field_with_errors {
    border: 1px red solid;
  }

  .sign-in-portal {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px; 
  }

  .label {
    padding: 10px;
    margin-bottom: 15px;
  }

  .gym_div {
    background-color: #d6dfd4;
    padding: 20px, 20px, 20px, 40px;
    margin-bottom: 20px;
    border-radius: 20px, 50px;
  }

  .gym_div h2, #reviews_div h3, .owner_div h3 {
    font-weight: bold;
    color: #3fb0ac;
  }

  .gym_div h4 {
    color: #3fb0ac;
  }

  .owner_div {
    background-color: #3fb0ac;
    padding: 5px, 0px, 5px, 20px;
  }

  #reviews_div {
    background-color: #b3c1c2;
    padding: 20px, 20px, 20px, 50px;
    margin-bottom: 25px;
    box-shadow: 4px 7px #e6e6e8;
    border-radius: 20px, 50px, 30px, 10px;
  }

  #reviews_div h3 {
    color: #f1f2e8;
  }

  nav {
    padding: 10px, 25px, 10px, 10px;
    font-size: 1.3em;
  }

  nav li {
    color: blue;
  }

